language: php
php:
  - "5.6"
  - "5.5"
  - "5.4"
  - "5.3"

before_script:
  - composer self-update
  - composer install --prefer-dist

script:
  - vendor/bin/phpunit --coverage-clover=coverage.clover tests
